body, [data-bs-theme=dark] {
  --bs-body-bg: #060b1c;
}

.bg-body, [data-bs-theme=dark] {
    --bs-bg-opacity: 0.15;
    background-color: #ffffff;
}

.navbar-nav {
    --bs-nav-link-color: #6C7484;
    --bs-nav-link-hover-color: #BAC0CB;
}
