body, [data-bs-theme=dark] {
  --bs-body-bg: #24252b;
}

.bg-body, [data-bs-theme=dark] {
    --bs-bg-opacity: 1;
    background-color: #2f3038;
}

.navbar-nav {
    --bs-nav-link-color: #6C7484;
    --bs-nav-link-hover-color: #BAC0CB;
}
