body, [data-bs-theme=dark] {
  --bs-body-bg: #0C142C;
}

.bg-body, [data-bs-theme=dark] {
    --bs-bg-opacity: 0.8;
    background-color: #0C142C;
}

.navbar-nav {
    --bs-nav-link-color: #6C7484;
    --bs-nav-link-hover-color: #BAC0CB;
}
